<app-nav-bar></app-nav-bar>
<body>
<div class="container">
  <div class="row">
   <h1 class="welcome-txt">Welcome.....</h1> 
   <img src="/assets/imgs/logo.png">
  </div>
  <div class="row">
<div class="col-sm welcome-img-list">
  <img src="assets/imgs/img3.jpg">
  <h1>Music Shows</h1>
</div>
<div class="col-sm welcome-img-list">
    <img src="assets/imgs/img2.jpg">
    <h1>Award Shows</h1>
  </div>
  <div class="col-sm welcome-img-list">
      <img src="assets/imgs/Marriage.jpg">
      <h1>Marriages..etc</h1>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>