.carousel-inner img {
    height: 100%;
    border: 2px solid black;
}
.welcome-txt{
    text-align: center;
margin-left: 2%;
margin-top: 3%;
color: #ad006f;
}
.carousel-wrapper{
    margin-top: 7%;
}
.welcome-img-list img{
    max-width: 345px;
max-height: 679px;
margin-top: 39%;
min-height: 194px;
}