.register-box {
    margin-top: 4%;

    margin-left: 3%;
}
.login-img{
    max-width: 620px;
margin-top: 8%;
}
.register-message{
    background-color: burlywood;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    width: 249px;
    height: 43px;
    text-align: center;
    border-radius: 7px;
}